# Q1: Write a python program to scrape data for “Data Analyst” Job position in
         “Bangalore” location. You have to scrape the job-title, job-location, company_name,
          experience_required. You have to scrape first 10 jobs data.

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException ,ElementNotInteractableException,InvalidElementStateException

In [2]:
driver= webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")

In [3]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [4]:
driver.get(url)

In [5]:
#calling empty list to store the different data
job_titles=[]
job_location=[]
company_name=[]
experience_required=[]

In [6]:
# extracting Job title 
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for j in title_tags[:10]:
    job_titles.append(j.text)
#extracting location 
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for j in location_tags[:10]:
    job_location.append(j.text)
#extracting company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for j in company_tags[:10]:
    company_name.append(j.text)
#extracting Experience required data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for j in experience_tags[:10]:
    experience_required.append(j.text)

In [7]:
# All extracted data
print('Job titles ----->>>',job_titles)
print()
print('Job_location ----->>>',job_location)
print()
print('company_name ----->>>',company_name)
print()
print('experience_required ----->>>',experience_required)

Job titles ----->>> ['NiFi Data Analyst', 'Senior Analyst-Data Science', 'Associate - Data Analyst ( Revenue Planning and Management)', 'Data Research Analyst', 'Business Data Analyst', 'Data Analyst Analyzing', 'Market Research Data Analyst', 'Data Analyst', 'Data Analyst ( SAS / R /Python ) openings', 'Data Analyst ( SAS / R /Python ) openings']

Job_location ----->>> ['Bengaluru', 'Bengaluru', 'Bengaluru', 'Delhi NCR, Bengaluru', 'Bengaluru / Bangalore', 'Bengaluru', 'Bengaluru', 'Pune, Mumbai, Bengaluru', 'Chennai, Pune, Delhi NCR, Mumbai, Other International Location, Bengaluru, Hyderabad, Kolkata, onsite', 'Chennai, Pune, Delhi NCR, Mumbai, Other International Location, Bengaluru, Hyderabad, Kolkata, onsite']

company_name ----->>> ['Capgemini Technology Services India Limited', 'Accenture Solutions Pvt Ltd', 'Myntra Designs Pvt. Ltd.', 'Headhunters Point', 'ASM Enterprise Solutions Private Limited', 'Cistup Indian Institute of Science', 'Robas Research', 'TresVista Financial', 'ACHYUTAS SOFT PRIVATE LIMITED', 'ACHYUTAS SOFT PRIVATE LIMITED']

experience_required ----->>> ['4-6 Yrs', '5-8 Yrs', '2-4 Yrs', '1-6 Yrs', '5-8 Yrs', '2-5 Yrs', '2-5 Yrs', '0-1 Yrs', '0-5 Yrs', '5-10 Yrs']

In [8]:
# as I extracted all the data
# Before saving the data into a data frame length check the lenth all the data must be of equal lenghts before saving the data.
print(len(job_titles),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [9]:
#lets save the extracted data
import pandas as pd
Data_analyst=pd.DataFrame({})
Data_analyst['job_titles']=job_titles
Data_analyst['job_location']=job_location
Data_analyst['company_name']=company_name
Data_analyst['experience_required']=experience_required

In [10]:
# we got the data lets extract the data in csv file
Data_analyst.to_csv('Data_analyst_jobs_naukri.csv')

In [11]:
#My extracted data
Data_analyst

,job_titles,job_location,company_name,experience_required
0,NiFi Data Analyst,Bengaluru,Capgemini Technology Services India Limited,4-6 Yrs
1,Senior Analyst-Data Science,Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs
2,Associate - Data Analyst ( Revenue Planning an...,Bengaluru,Myntra Designs Pvt. Ltd.,2-4 Yrs
3,Data Research Analyst,"Delhi NCR, Bengaluru",Headhunters Point,1-6 Yrs
4,Business Data Analyst,Bengaluru / Bangalore,ASM Enterprise Solutions Private Limited,5-8 Yrs
5,Data Analyst Analyzing,Bengaluru,Cistup Indian Institute of Science,2-5 Yrs
6,Market Research Data Analyst,Bengaluru,Robas Research,2-5 Yrs
7,Data Analyst,"Pune, Mumbai, Bengaluru",TresVista Financial,0-1 Yrs
8,Data Analyst ( SAS / R /Python ) openings,"Chennai, Pune, Delhi NCR, Mumbai, Other Intern...",ACHYUTAS SOFT PRIVATE LIMITED,0-5 Yrs
9,Data Analyst ( SAS / R /Python ) openings,"Chennai, Pune, Delhi NCR, Mumbai, Other Intern...",ACHYUTAS SOFT PRIVATE LIMITED,5-10 Yrs

In [12]:
driver.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [13]:
driver= webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")

In [14]:
url='https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore'

In [15]:
driver.get(url)

In [16]:
#calling empty list to store the different data
job_titles=[]
job_location=[]
company_name=[]
job_description=[]

In [17]:
# extracting Job title 
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for j in title_tags[:10]:
    job_titles.append(j.text)
#extracting location 
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for j in location_tags[:10]:
    job_location.append(j.text)
#extracting company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for j in company_tags[:10]:
    company_name.append(j.text)

In [18]:
# extracting each job link
Job_link=[]
url_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for j in url_tags[:10]:
    Job_link.append(j.get_attribute('href'))
#Making for loop for extracting average ratings of every phone
for j in Job_link:
    driver.get(j)
    try:
        job_description.append((driver.find_element_by_xpath("//section[@class='job-desc']")).text)
    except NoSuchElementException:
        job_description.append("NA")

In [19]:
# as I extracted all the data
# Before saving the data into a data frame length check the lenth all the data must be of equal lenghts before saving the data.
print(len(job_titles),len(job_location),len(company_name),len(job_description),len(Job_link))

10 10 10 10 10

In [20]:
#lets save the extracted data
import pandas as pd
Data_scientist=pd.DataFrame({})
Data_scientist['job_titles']=job_titles
Data_scientist['job_location']=job_location
Data_scientist['company_name']=company_name
Data_scientist['Job_link']=Job_link
Data_scientist['job_description']=job_description

In [21]:
Data_scientist['job_description']=Data_scientist['job_description'].str.replace('\n',' - ')

In [22]:
#lets check the data
Data_scientist

,job_titles,job_location,company_name,Job_link,job_description
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,https://www.naukri.com/job-listings-data-scien...,Job description - Dear Candidate - - Schedule...
1,HCL hiring Data scientist with exp in machine ...,Bengaluru,HCL Technologies Limited,https://www.naukri.com/job-listings-hcl-hiring...,"Job description - Dear Candidate, - - Greetin..."
2,Data Scientist - Machine Learning,Bengaluru,AugmatrixGo,https://www.naukri.com/job-listings-data-scien...,Job description - Roles and Responsibilities -...
3,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,https://www.naukri.com/job-listings-data-scien...,NA
4,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,https://www.naukri.com/job-listings-data-scien...,NA
5,Data Scientist -Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,https://www.naukri.com/job-listings-data-scien...,NA
6,Software Developer - Data Scientist / NLP / Ma...,Bengaluru / Bangalore,Cunesoft India Private Limited,https://www.naukri.com/job-listings-software-d...,Job description - Roles and Responsibilities -...
7,Data Scientist - Machine Learning - Remote Wor...,"Delhi NCR, Bengaluru, Anywhere in India",Doji Ltd,https://www.naukri.com/job-listings-data-scien...,Job description - Please note that this role w...
8,Data Scientist,Bengaluru,GENPACT India Private Limited,https://www.naukri.com/job-listings-data-scien...,NA
9,Data Scientist (Healthcare/Pharma Domain prefe...,Bengaluru,GENPACT India Private Limited,https://www.naukri.com/job-listings-data-scien...,NA

In [23]:
from IPython.core.display import HTML
display(HTML(Data_scientist.to_html()))

In [24]:
driver.close()

# Q3: In this question you have to scrape data using the filters available on the webpage:
    You have to use the location and salary filter.
    You have to scrape data for “Data Scientist” designation for first 10 job results.
    You have to scrape the job-title, job-location, company_name,
    experience_required.
    The location filter to be used is “Delhi/NCR”
    The salary filter to be used is “3-6” lakhs
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [25]:
driver= webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")

In [26]:
url='https://www.naukri.com/data-scientist-jobs?k=data%20scientist'

In [27]:
driver.get(url)

In [28]:
#inspecting location
location=driver.find_element_by_xpath("//div[2][@class='mt-8 chckBoxCont']")
try:
    location.click()
except ElementNotInteractableException:
    location.get(location.get_attribute('href'))

In [30]:
#inspecting salary
salary=driver.find_element_by_xpath("//div[@data-filter-id='salaryRange']/div[2]")
try:
    salary.click()
except ElementNotInteractableException:
    salary.get(salary.get_attribute('href'))

In [31]:
#calling empty list to store the different data
job_titles=[]
job_location=[]
company_name=[]
experience_required=[]

In [32]:
# extracting Job title 
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for j in title_tags[:10]:
    job_titles.append(j.text)
#extracting location 
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for j in location_tags[:10]:
    job_location.append(j.text)
#extracting company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for j in company_tags[:10]:
    company_name.append(j.text)
#extracting Experience required data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for j in experience_tags[:10]:
    experience_required.append(j.text)

In [33]:
# All extracted data
print('Job titles ----->>>',job_titles)
print()
print('Job_location ----->>>',job_location)
print()
print('company_name ----->>>',company_name)
print()
print('experience_required ----->>>',experience_required)

Job titles ----->>> ['Data Scientist - Python/Machine Learning', 'Tech Mahindra hiring For Data Scientist- Noida', 'Data Scientist - Commercial Planning and Analysis', 'Data Scientist - Machine Learning/ Artificial Intelligence - IT', 'GCP Skilled Analytics Resources (Data engineer / Data scientists)', 'Data Scientist', 'Data Scientist Machine Learning', 'Data Scientist', 'Business Analyst - Data Scientist', 'Analyst - Data Scientist']

Job_location ----->>> ['Noida', 'Noida', 'Delhi NCR, Gurgaon', 'Delhi/NCR Delhi NCR, Noida', 'Pune, Bengaluru, Gurgaon', 'Gurgaon Gurugram', 'Gurgaon', 'Delhi NCR', 'Gurgaon', 'Gurgaon']

company_name ----->>> ['Jubna', 'tech mahindra ltd', 'Air Asia India Limited', 'Talent Acceleration Corridor', 'Aerial Telecom Solutions Pvt. Ltd.', 'IBM India Pvt. Limited', 'Delhivery', 'Eighteen Pixels India Private Limited', 'HyreFox Consultants Pvt Ltd', 'HyreFox Consultants Pvt Ltd']

experience_required ----->>> ['5-8 Yrs', '5-10 Yrs', '1-6 Yrs', '6-11 Yrs', '3-8 Yrs', '3-5 Yrs', '1-3 Yrs', '2-6 Yrs', '3-5 Yrs', '1-3 Yrs']

In [34]:
# as I extracted all the data
# Before saving the data into a data frame length check the lenth all the data must be of equal lenghts before saving the data.
print(len(job_titles),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [35]:
#lets save the extracted data
import pandas as pd
Data_scientist=pd.DataFrame({})
Data_scientist['job_titles']=job_titles
Data_scientist['job_location']=job_location
Data_scientist['company_name']=company_name
Data_scientist['experience_required']=experience_required

In [36]:
# we got the data lets extract the data in csv file
Data_scientist.to_csv('Data_scientist_jobs_naukri.csv')

In [37]:
#My extracted data
Data_scientist

,job_titles,job_location,company_name,experience_required
0,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
1,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
2,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
3,Data Scientist - Machine Learning/ Artificial ...,"Delhi/NCR Delhi NCR, Noida",Talent Acceleration Corridor,6-11 Yrs
4,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
5,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,3-5 Yrs
6,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
7,Data Scientist,Delhi NCR,Eighteen Pixels India Private Limited,2-6 Yrs
8,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs
9,Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,1-3 Yrs

In [38]:
driver.close()

# Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.

In [39]:
# Function Definition
def glassdoor(url):
    driver=webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")
    driver.get(url)
    #fetching company name
    company_name=[]
    tags=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']")
    for j in tags[:10]:
        company_name.append(j.text)
    #fetching days posted
    days_posted=[]
    tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
    for j in tags[:10]:
        days_posted.append(j.text)
    #fetching ratings
    ratings=[]
    tags=driver.find_elements_by_xpath("//span[@class='compactStars ']")
    for j in tags[:10]:
        ratings.append(j.text)
    #making the data frame to store the data
    job_df=pd.DataFrame({'company_name':company_name,
                         'days_posted':days_posted,
                         'ratings':ratings,})
    #saving the dataframe to csv
    job_df.to_csv('Data_Scientist_Glassdors.csv')
    print(job_df)
# Calling Function
glassdoor('https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm?')

                       company_name days_posted ratings
0                         HDFC Bank          2d     3.7
1      Salasar New Age Technologies        30d+     3.7
2                    Biz2Credit Inc        30d+     3.3
3  Simpplr Software India Pvt. Ltd.         24h       5
4                         QuantumIT         15d     3.7
5                    WSD Consultant        30d+     3.9
6                          Techlive        30d+     3.7
7                   Dürr Somac GmbH        30d+     3.8
8      Salasar New Age Technologies        30d+     3.8
9                     Angel & Genie         20d       3

# Q5:Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.

In [40]:
# Function Definition
def glassdoor(url):
    driver=webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")
    driver.get(url)
    # fetching the company name
    company_name=[]
    tags=driver.find_elements_by_xpath("//p[@class='m-0']")
    for j in tags[:10]:
        company_name.append(j.text)
    #fetchinng the number of salary data
    num_salaries=[]
    tags=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
    for j in tags[:10]:
        num_salaries.append(j.text)
    #fetching average slary data
    Average_salary=[]
    tags=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
    for j in tags[:10]:
        Average_salary.append(j.text)
    #fetching minimum salary data
    minimum_salary=[]
    tags=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
    for j in tags[:10]:
        minimum_salary.append(j.text)
    #fetching maximum salary data
    max_salary=[]
    tags=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
    for j in tags[:10]:
        max_salary.append(j.text)
    # saving the data in the data frame
    salary_df=pd.DataFrame({'company_name':company_name,
                         'num_salaries':num_salaries,
                         'Average_salary':Average_salary,
                          'minimum_salary':minimum_salary,
                          'max_salary':max_salary })
    # saving the data to csv file                     
    salary_df.to_csv('Data_Scientist_Glassdors_salary.csv')
    print(salary_df)
# Calling Function

glassdoor('https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn')

                         company_name num_salaries Average_salary  \
0                      Data Scientist  13 salaries    ₹ 12,81,419
1  See 14 salaries from all locations  11 salaries     ₹ 7,52,052
2                      Data Scientist  10 salaries     ₹ 9,98,925
3  See 22 salaries from all locations   9 salaries     ₹ 6,02,000
4                      Data Scientist   9 salaries     ₹ 7,71,657
5  See 37 salaries from all locations   8 salaries    ₹ 12,22,902
6                      Data Scientist   8 salaries     ₹ 7,91,015
7  See 83 salaries from all locations   7 salaries    ₹ 12,15,138
8                      Data Scientist   6 salaries    ₹ 10,21,889
9  See 73 salaries from all locations   5 salaries    ₹ 10,00,000

  minimum_salary max_salary
0          ₹456K   ₹11,789K
1          ₹420K    ₹1,636K
2          ₹585K    ₹2,200K
3          ₹336K    ₹1,024K
4          ₹595K    ₹2,769K
5          ₹727K    ₹1,597K
6          ₹509K    ₹1,168K
7          ₹629K    ₹1,719K
8          ₹804K    ₹1,281K
9          ₹205K    ₹1,835K

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [41]:
# Function Definition
def flipkart_glasses(url):
    driver=webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")
    urls = []
    brand=[]
    product_desc=[]
    price=[]
    discount_per=[]
    #looping to fetch urls of each sunglasses till page 5
    driver.get(url)
    page=[]
    url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
    for i in url[0:5]:
        page.append(i.get_attribute('href'))
    for i in page:
        driver.get(i)
        soup= BeautifulSoup(driver.page_source, 'html.parser')
        prod_urls = soup.find_all('a', attrs ={'class':'IRpwTa'})
        for prod in prod_urls:
            urls.append('https://www.flipkart.com'+prod.get('href'))
            
    #loop to scrap required details from each sunglasses page
    for url in urls:
        driver.get(url)
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        n = soup.find('span',attrs={'class':'G6XhRU'})
        if n is not None:
            brand.append(n.text.replace('\n',''))
        else:
            brand.append('-')
        desc = soup.find('span', attrs = {'class':'B_NuCI'})
        if desc is not None:
            product_desc.append(desc.text)
        else:
            product_desc.append('-')
        prc = soup.find('div', attrs = {'class':'_30jeq3 _16Jk6d'})
        if prc is not None:
            price.append(prc.text.replace('\n',''))
        else:
            price.append('-')
        disc = soup.find('div', attrs = {'class':'_3Ay6Sb _31Dcoz pZkvcx'})
        if disc is not None:
            discount_per.append(disc.find('span').text.replace('\n',''))
        else:
            discount_per.append('-')
           
        
    glass_df=pd.DataFrame({'Brand':brand[:100],
                           'Product_description':product_desc[:100],
                            'price':price[:100],
                            'discount_percentage':discount_per[:100],
                            'Link':urls[:100]})
    print(glass_df)
    glass_df.to_csv('Flipkart_glass.csv', index = False)
    
    
# Calling Function
flipkart_glasses('https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

                Brand                                Product_description  \
0     FDA COLLECTION   Gradient, Mirrored, UV Protection Round, Round...
1   shah collections   UV Protection, Polarized, Mirrored Rectangular...
2           Fastrack   Gradient, UV Protection Wayfarer Sunglasses (F...
3         Phenomenal   UV Protection, Mirrored Retro Square Sunglasse...
4        like future   Mirrored Aviator Sunglasses (Free Size)  (Silv...
..                ...                                                ...
95    Rozzetta Craft   UV Protection, Gradient Rectangular Sunglasses...
96           Dannilo   Mirrored Wayfarer Sunglasses (Free Size)  (Blu...
97      Singco India   Mirrored, Riding Glasses, Others Sports Sungla...
98         ROYAL SON   UV Protection Retro Square Sunglasses (88)  (B...
99         Royal Son          Polarized Aviator Sunglasses (58)  (Black)

   price discount_percentage  \
0   ₹199             84% off
1   ₹219             78% off
2   ₹699             12% off
3   ₹399             80% off
4   ₹181             83% off
..   ...                 ...
95  ₹474             78% off
96  ₹236             76% off
97  ₹228             84% off
98  ₹569             71% off
99  ₹711             64% off

                                                 Link
0   https://www.flipkart.com/fda-collection-round-...
1   https://www.flipkart.com/shah-collections-rect...
2   https://www.flipkart.com/fastrack-wayfarer-sun...
3   https://www.flipkart.com/phenomenal-retro-squa...
4   https://www.flipkart.com/like-future-aviator-s...
..                                                ...
95  https://www.flipkart.com/rozzetta-craft-rectan...
96  https://www.flipkart.com/dannilo-wayfarer-sung...
97  https://www.flipkart.com/singco-india-sports-s...
98  https://www.flipkart.com/royal-son-retro-squar...
99  https://www.flipkart.com/royal-son-aviator-sun...

[100 rows x 5 columns]

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

These are
1. Rating
2. Review_summary
3. Full review

In [42]:
# Function Definition
def iphone11(url):
    driver=webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")
    urls = []
    Rating=[]
    Review_summary=[]
    Full_review=[]
    
    #looping to fetch urls of each sunglasses till page 10
    driver.get(url)
    urls=[]
    url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
    for i in url[0:10]:
        urls.append(i.get_attribute('href'))
    #loop to scrap required review from every page
    for url in urls:
        driver.get(url)
        rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for j in rating_tags:
            Rating.append(j.text)
        summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in summary:
            Review_summary.append(i.text)
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
            Full_review.append(k.text)
           
        
    iphone_df=pd.DataFrame({'Rating':Rating[:99],
                        'Review_summary':Review_summary[:99],
                        'Full_review':Full_review[:99]})
    print(iphone_df)
    iphone_df.to_csv('iphone11_review.csv', index = False)
    
    
# Calling Function
iphone11('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART')

   Rating      Review_summary  \
0       5    Perfect product!
1       5       Great product
2       5    Perfect product!
3       5  Highly recommended
4       5    Perfect product!
..    ...                 ...
94      5        Does the job
95      3            Terrific
96      5                Nice
97      5              Super!
98      4   Worth every penny

                                          Full_review
0   Amazing phone with great cameras and better ba...
1   Amazing Powerful and Durable Gadget.\n\nI’m am...
2   It’s a must buy who is looking for an upgrade ...
3   iphone 11 is a very good phone to buy only if ...
4   Value for money❤️❤️\nIts awesome mobile phone ...
..                                                ...
94  The phone is awesome undoubtedly and worth the...
95  Switched from Android to Iphone. great experie...
96  Iphone 11 black 64gb is really a cool phone\n\...
97  Amazing performance... Very happy with purchas...
98  Kudos to flipkart, delivered well in time. Pho...

[99 rows x 3 columns]

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [43]:
# Function Definition
def flipkart_sneakers(url):
    driver=webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")
    urls = []
    brand=[]
    product_desc=[]
    price=[]
    discount_per=[]
    #looping to fetch urls of each sunglasses till page 5
    driver.get(url)
    page=[]
    url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
    for i in url[0:5]:
        page.append(i.get_attribute('href'))
    for i in page:
        driver.get(i)
        soup= BeautifulSoup(driver.page_source, 'html.parser')
        prod_urls = soup.find_all('a', attrs ={'class':'IRpwTa'})
        for prod in prod_urls:
            urls.append('https://www.flipkart.com'+prod.get('href'))
            
    #loop to scrap required details from each sunglasses page
    for url in urls:
        driver.get(url)
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        n = soup.find('span',attrs={'class':'G6XhRU'})
        if n is not None:
            brand.append(n.text.replace('\n',''))
        else:
            brand.append('-')
        desc = soup.find('span', attrs = {'class':'B_NuCI'})
        if desc is not None:
            product_desc.append(desc.text)
        else:
            product_desc.append('-')
        prc = soup.find('div', attrs = {'class':'_30jeq3 _16Jk6d'})
        if prc is not None:
            price.append(prc.text.replace('\n',''))
        else:
            price.append('-')
        disc = soup.find('div', attrs = {'class':'_3Ay6Sb _31Dcoz pZkvcx'})
        if disc is not None:
            discount_per.append(disc.find('span').text.replace('\n',''))
        else:
            discount_per.append('-')
           
        
    sneakers_df=pd.DataFrame({'Brand':brand[:100],
                           'Product_description':product_desc[:100],
                            'price':price[:100],
                            'discount_percentage':discount_per[:100],
                            'Link':urls[:100]})
    print(sneakers_df)
    sneakers_df.to_csv('Flipkart_glass.csv', index = False)
    
    
# Calling Function
flipkart_sneakers('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

                   Brand                                Product_description  \
0     French Connection                            Sneakers For Men  (Grey)
1             Marc Ecko                            Sneakers For Men  (Grey)
2                Chevit   Combo Pack of 4 Casual Sneakers With Sneakers ...
3          Robbie jones   Casual Sneakers Shoes For Men Sneakers For Men...
4   World Wear Footwear   Combo Pack of 4 Latest Collection Stylish Casu...
..                   ...                                                ...
95            Rockfield                      Sneakers For Men  (Multicolor)
96               Kzaara                           Sneakers For Men  (Brown)
97                  MOU   Zar Check Sneakers Sneakers For Men  (Multicolor)
98             Fabbmate     Combo of Men's Casual Shoes.(Pack of 3) Snea...
99    French Connection                     Sneakers For Men  (Navy, White)

     price discount_percentage  \
0   ₹2,058             48% off
1   ₹1,049             52% off
2     ₹499             75% off
3     ₹399             60% off
4     ₹499             75% off
..     ...                 ...
95    ₹399             60% off
96    ₹284             43% off
97    ₹523             47% off
98  ₹1,099             63% off
99    ₹849             57% off

                                                 Link
0   https://www.flipkart.com/french-connection-sne...
1   https://www.flipkart.com/marc-ecko-sneakers-me...
2   https://www.flipkart.com/chevit-combo-pack-4-c...
3   https://www.flipkart.com/robbie-jones-casual-s...
4   https://www.flipkart.com/world-wear-footwear-c...
..                                                ...
95  https://www.flipkart.com/rockfield-sneakers-me...
96  https://www.flipkart.com/kzaara-sneakers-men/p...
97  https://www.flipkart.com/mou-zar-check-sneaker...
98  https://www.flipkart.com/fabbmate-combo-men-s-...
99  https://www.flipkart.com/french-connection-sne...

[100 rows x 5 columns]

# Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,And then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe

In [44]:
driver= webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")

In [45]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [46]:
#filtering price
price=driver.find_element_by_xpath("//div[@class='vertical-filters-filters']//li[2]//label[@class='common-customCheckbox vertical-filters-label']//div[@class='common-checkboxIndicator']")
try:
    price.click()
except ElementNotInteractableException:
    price.get_attribute('href')
time.sleep(5)

In [47]:
#filtering color
color=driver.find_element_by_xpath("//div[@class='vertical-filters-filters']//li[1][@class='colour-listItem']//div[@class='common-checkboxIndicator']")
try:
    color.click()
except ElementNotInteractableException:
    color.click()

In [49]:
#empty list to store the data
Product_link=[]
brand=[]
product_desc=[]
price=[]
for i in range(0,3):
    url_tags=driver.find_elements_by_xpath("//a[@target='_blank']")
    for j in url_tags:
        Product_link.append(j.get_attribute('href'))
    name_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in name_tags:
        brand.append(i.text)
    for k in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        product_desc.append(k.text)
    driver.find_element_by_xpath("//li[@class='pagination-next']/a").click()
    time.sleep(3)
for i in Product_link:
    driver.get(i)
    try:
        price.append((driver.find_element_by_xpath("//span[@class='pdp-price']")).text)
    except NoSuchElementException:
        price.append("NA")
# as I extracted all the data
# Before saving the data into a data frame length check the lenth all the data must be of equal lenghts before saving the data.
print('Length of the list are ==>>',len(brand),len(product_desc),len(price),len(Product_link))
# lets save the file in the data frame
shoes_df=pd.DataFrame({'Brand':brand[:100],
                    'Product_description':product_desc[:100],
                    'price':price[:100],
                    'Link':Product_link[:100]})
print(shoes_df)
shoes_df.to_csv('shoes_df_myntra.csv', index = False)

Length of the list are ==>> 150 150 150 150
             Brand                      Product_description     price  \
0             Nike                   Men Zoom Running Shoes  Rs. 6399
1             Nike                Men JORDAN ZOOM '92 Shoes  Rs. 9699
2             Nike                Men JORDAN ZOOM '92 Shoes  Rs. 9699
3     Kenneth Cole  Men Solid Formal Genuine Leather Derbys  Rs. 6153
4             Nike              Men JORDAN DELTA Basketball  Rs. 8999
..             ...                                      ...       ...
95  Tommy Hilfiger            Men Heritage Leather Sneakers  Rs. 7199
96    UNDER ARMOUR               Women Charged Breathe TR 2  Rs. 7999
97            Puma              SPEED Orbiter Running Shoes  Rs. 9699
98  Tommy Hilfiger             CHUNKY TECH Leather Sneakers  Rs. 7199
99    UNDER ARMOUR               Women HOVR Rise 2 Training  Rs. 9999

                                                 Link
0   https://www.myntra.com/sports-shoes/nike/nike-...
1   https://www.myntra.com/sports-shoes/nike/nike-...
2   https://www.myntra.com/sports-shoes/nike/nike-...
3   https://www.myntra.com/formal-shoes/kenneth-co...
4   https://www.myntra.com/sports-shoes/nike/nike-...
..                                                ...
95  https://www.myntra.com/casual-shoes/tommy-hilf...
96  https://www.myntra.com/sports-shoes/under-armo...
97  https://www.myntra.com/sports-shoes/puma/puma-...
98  https://www.myntra.com/casual-shoes/tommy-hilf...
99  https://www.myntra.com/sports-shoes/under-armo...

[100 rows x 4 columns]

In [50]:
driver.close()

# Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
 After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [57]:
# Function Definition
def amzon_laptop(url):
    driver=webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")
    Product_link=[]
    Title=[]
    Ratings=[]
    price=[]
    driver.get(url)
    #inspecting intel7
    intel7=driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div")
    try:
        intel7.click()
    except ElementNotInteractableException:
        intel7.get_attribute('href')
    #inspecting intel9
    intel9=driver.find_element_by_xpath("//ul[@class='a-unordered-list a-nostyle a-vertical a-spacing-medium']//li[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/div")
    try:
        intel9.click()
    except ElementNotInteractableException:
        intel9.get_attribute('href')
    #extracting Data of laptops.
    for i in range(0,6):
        url_tags=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
        for j in url_tags:
            Product_link.append(j.get_attribute('href'))
        name_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
        for i in name_tags:
            Title.append(i.text)
        time.sleep(3)
        driver.find_element_by_xpath("//li[@class='a-last']").click()
        time.sleep(3)
    for j in Product_link:
        driver.get(j)
        try:
            price.append((driver.find_element_by_xpath("//td[@class='a-span12']/span")).text)
        except NoSuchElementException:
            price.append("NA")
        try:
            Ratings.append((driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']/span")).text)
        except NoSuchElementException:
            Ratings.append("NA")
    # as I extracted all the data
    # Before saving the data into a data frame length check the lenth all the data must be of equal lenghts before saving the data.
    print('Length of the list are ==>>',len(Title),len(Ratings),len(price),len(Product_link))
    #lets save the data in dataframe for further use
    amazon_laptop=pd.DataFrame({'Title':Title[:100],
                           'Ratings':Ratings[:100],
                            'price':price[:100],
                            'Link To Buy':Product_link[:100]})
    print(amazon_laptop)
    amazon_laptop.to_csv('amazon_laptop.csv', index = False)
    
    
# Calling Function
amzon_laptop('https://www.amazon.in/s?k=laptop&ref=nb_sb_noss')

Length of the list are ==>> 140 140 140 140
                                                Title       Ratings  \
0   Dell Inspiron 5501 15.6 Inch FHD Laptop (10th ...  3.4 out of 5
1   Dell Inspiron 5409 14.0" FHD WVA AG Display 11...    4 out of 5
2   Mi Notebook Horizon Edition 14 Intel Core i5-1...  4.2 out of 5
3   (Renewed) Dell Latitude E7470 14-inch Laptop (...            NA
4   (Renewed) Dell Latitude E7470 14-inch Laptop (...            NA
..                                                ...           ...
95  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...  3.9 out of 5
96  (Renewed) HP Hybrid Probook Laptop 430G3 Intel...            NA
97  (Renewed) HP Hybrid Probook Laptop 430G3 Intel...            NA
98  (Renewed) HP Hybrid Probook Laptop 430G3 Intel...            NA
99  (Renewed) Dell Latitude E7470 14 inch Laptop C...            NA

          price                                        Link To Buy
0   ₹ 85,890.00  https://www.amazon.in/gp/slredirect/picassoRed...
1   ₹ 86,990.00  https://www.amazon.in/gp/slredirect/picassoRed...
2   ₹ 54,862.00  https://www.amazon.in/Notebook-Horizon-i5-1021...
3   ₹ 53,599.00  https://www.amazon.in/Renewed-Dell-Latitude-14...
4   ₹ 55,299.00  https://www.amazon.in/Renewed-Dell-Latitude-14...
..          ...                                                ...
95  ₹ 98,990.00  https://www.amazon.in/ASUS-VivoBook-i7-1165G7-...
96  ₹ 51,990.00  https://www.amazon.in/Renewed-HP-Hybrid-Proboo...
97  ₹ 48,490.00  https://www.amazon.in/Renewed-HP-Hybrid-Proboo...
98  ₹ 69,990.00  https://www.amazon.in/Renewed-HP-Hybrid-Proboo...
99  ₹ 53,699.00  https://www.amazon.in/Renewed-Dell-Latitude-In...

[100 rows x 4 columns]