# Top 10 Womens cricket data scraping from ICC website

Writing a python program to scrape cricket rankings from ‘www.icc-cricket.com’.

I have scraped:

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

ii) Top 10 women’s ODI players along with the records of their team and rating.

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating

# Top 10 Womens Cricket Team in the world

In [1]:
#importing selenium library
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver= webdriver.Chrome(r"C:\Users\khurr\Downloads\chromedriver.exe")

In [3]:
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [4]:
driver.get(url)

In [5]:
#calling empty list to store the different data
Team=[]
Matches=[]
Points=[]
Ratings=[]

In [6]:
# lets extract the team name in the Team list
team_tags=driver.find_elements_by_xpath("//span[@class='u-hide-phablet']")
team_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="2970189a-6909-4c04-9ca2-510e7ad77489")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="dd9aa83e-996e-413c-bf0e-28989fe4f4cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="49b21d76-0a5b-462d-aaf3-ce1eba986194")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="c97f0a01-f1da-4afb-9c6e-37bc4227d579")>]

In [7]:
#saving team name in the team list
for i in team_tags:
    
    team=i.text
    Team.append(team)
Team[:4]

['Australia', 'India', 'England', 'South Africa']

In [8]:
# lets extract the matches record in the list
matches_tags=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--matches']")
matches_tags

In [9]:
for i in matches_tags:
    
    matches=i.text
    Matches.append(matches)
Matches

['15']

In [10]:
# lets extract the other team matches record in the list
matches_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell u-center-text']")
matches_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="1f17dcc4-5e93-4228-84b8-212a49209dd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="d7a14c6e-4168-4ae8-851a-c982e64df103")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="b42525a0-5244-4650-9d52-3b266e038418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="a56bf756-dab2-4ba5-8723-940ee15b4f3e")>]

In [11]:
# we can see the two tags has the same path so what we can do is we can delete 1 data 
del matches_tags[1::2]

In [12]:
for i in matches_tags:
    
    matches=i.text
    Matches.append(matches)
Matches

['15', '15', '14', '16', '15', '12', '12', '5', '11', '2']

In [13]:
# lets extract points record in the list
points_tags=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--points']")
points_tags

In [14]:
for i in points_tags:
    
    points=i.text
    Points.append(points)
Points

['2,436']

In [15]:
# lets extract points record in the list
points_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell u-center-text']")
points_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="1f17dcc4-5e93-4228-84b8-212a49209dd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="d7a14c6e-4168-4ae8-851a-c982e64df103")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="b42525a0-5244-4650-9d52-3b266e038418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="a56bf756-dab2-4ba5-8723-940ee15b4f3e")>]

In [16]:
#lets delete the odd index data cause as we know we have two data in the same link
del points_tags[::2]

In [17]:
#saving all the other data to the list
for i in points_tags:
    
    points=i.text
    Points.append(points)
Points[:5]

['2,436', '1,812', '1,670', '1,713', '1,384']

In [18]:
# lets extract Ratings of the team in the list
ratings_tags=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--rating u-text-right']")
ratings_tags

In [19]:
#saving Ratings data to the list
for i in ratings_tags:
    
    rating=i.text
    Ratings.append(rating)
Ratings

['162']

In [20]:
# lets extract Ratings of the other team in the list
ratings_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell u-text-right rating']")
ratings_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="ae4d6857-90f6-469a-aa8b-60ea4fab3ec0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="d68f947c-6954-4f4a-9bed-9db308c20db3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="1570001a-9334-42c2-8f2a-846df538b2b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="f9b60a1b-45cf-4aeb-bcf6-08d8cb0faac7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="9182f010-7bc1-403e-abe6-b03aa21c3437")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="6370ea67-2f4d-4da5-bb45-fe260c589714")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="eccbabd0-0901-445a-b2e3-8cfbb737e40d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="4f7feb76-5b97-4935-a2e4-48e688baf70a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="192906d8-4a89-4d36-824a-07e0980c2d3f")>]

In [21]:
#saving Ratings data to the list
for i in ratings_tags:
    
    rating=i.text
    Ratings.append(rating)
Ratings

['162', '121', '119', '107', '92', '85', '77', '61', '47', '13']

In [22]:
# as I extracted all the data
# Before saving the data into a data frame length check the lenth all the data must be of equal lenghts before saving the data.
print(len(Team),len(Matches),len(Points),len(Ratings))

10 10 10 10

In [23]:
# importing pandas and saving Top 10 Team in top 10 Team Dataframre
import pandas as pd
Top_10_Team_womens=pd.DataFrame({})
Top_10_Team_womens['Team']=Team
Top_10_Team_womens['Matches']=Matches
Top_10_Team_womens['Points']=Points
Top_10_Team_womens['Ratings']=Ratings

In [24]:
# lets import numpy and make our index to start counting from 1 for the better visualisation of data.
import numpy as np
Top_10_Team_womens.index = np.arange(1, len(Top_10_Team_womens)+1)

In [25]:
Top_10_Team_womens

            Team Matches Points Ratings
1      Australia      15  2,436     162
2          India      15  1,812     121
3        England      14  1,670     119
4   South Africa      16  1,713     107
5    New Zealand      15  1,384      92
6    West Indies      12  1,025      85
7       Pakistan      12    927      77
8     Bangladesh       5    306      61
9      Sri Lanka      11    519      47
10       Ireland       2     25      13

In [26]:
# we got the data lets extract the data in csv file
Top_10_Team_womens.to_csv('Top_10_team_rankings_women.csv')

# Top 10 ODI Batsmen

In [27]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

In [28]:
driver.get(url)

In [29]:
#calling empty list to store the different data
Player_name=[]
Team=[]
Rating=[]
Career_best_rating=[]

In [30]:
# lets extract rank 1 player name in the list
name_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--name-large']")
name_tags

In [31]:
#saving player name to the list
for i in name_tags:
    
    name=i.text
    Player_name.append(name)
Player_name

['Meg Lanning']

In [32]:
# lets extract other player name in the list
name_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__name name']")
name_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="20041db4-bebb-446f-8ed7-ef3a88d9d9bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="b25d2902-e92a-446a-a533-0cac20da7291")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="d29fc593-1241-4daa-8c1e-3cff9b0f0b59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="30bb3224-0d01-4a0a-b7c6-909812aff41a")>]

In [33]:
#saving player name to the list
for i in name_tags:
    
    name=i.text
    Player_name.append(name)
Player_name[:5]

['Meg Lanning',
 'Stafanie Taylor',
 'Alyssa Healy',
 'Smriti Mandhana',
 'Amy Satterthwaite']

In [34]:
# lets extract team name to the list
team_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--nationality']")
team_tags

In [35]:
#saving rank 1 player team name to the list
for i in team_tags:
    
    team=i.text
    Team.append(team)
Team

['AUS']

In [36]:
# lets extract other team name to the list
team_tags=driver.find_elements_by_xpath("//span[@class='table-body__logo-text']")
team_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="00abbe5a-497c-48a4-9003-e78c59e57a3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="8e68e1ff-043f-452d-954b-ccb731893fdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="beaf4ac9-211a-4a2b-bea8-ceaca745d1ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="e5176898-cf01-4b7b-be47-51a3e217448d")>]

In [37]:
#saving other team name to the list
for i in team_tags:
    
    team=i.text
    Team.append(team)
Team[:5]

['AUS', 'WI', 'AUS', 'IND', 'NZ']

In [38]:
# lets extract Rating of the team to the list
rating_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--rating']")
rating_tags

In [39]:
#saving ratings of rank 1 player name to the list
for i in rating_tags:
    
    rating=i.text
    Rating.append(rating)
Rating

['749']

In [40]:
# lets extract Rating of the player to the list
rating_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell rating']")
rating_tags[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="824ed843-89a3-4230-9410-ac4399f06a05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="d5f186af-7aed-4a5d-9d95-db3b96be8c74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="ea2065e0-0ac5-4ea4-86b7-f61914086da4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="9bc102e1-836f-4e7b-8d03-d48c503828a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="fb411cb5-74af-44b7-98de-eca8d6e271af")>]

In [41]:
#saving ratings of rank 1 player name to the list
for i in rating_tags:
    
    rating=i.text
    Rating.append(rating)
Rating[:5]

['749', '746', '741', '732', '723']

In [42]:
# lets extract carrer best rating of rank 1 player to the list
career_tags=driver.find_elements_by_xpath("//span[@class='rankings-block__career-best-text']")
career_tags

In [43]:
#saving carrer best rating of the player to the list.
for i in career_tags:
    
    career=i.text
    Career_best_rating.append(career)
Career_best_rating

['834 v New Zealand, 24/02/2016']

In [44]:
# lets extract carrer best rating of other player to the list
career_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell u-text-right u-hide-phablet']")
career_tags[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="44dedd53-50a8-4af5-b69c-31bd428d2d30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="9086a6db-a309-4bd9-a7d7-a203d9a85a53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="80e92bbf-c01a-4608-8ad6-6d513aa97bcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="f571f941-ce9b-484b-9c9f-c5e43da74086")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="a193a51b-7b8e-46c8-9334-79e95fc8f3f4")>]

In [45]:
#saving carrer best rating of the other player to the list.
for i in career_tags:
    
    career=i.text
    Career_best_rating.append(career)
Career_best_rating[:5]

['834 v New Zealand, 24/02/2016',
 '765 v India, 02/03/2012',
 '741 v New Zealand, 07/10/2020',
 '797 v England, 28/02/2019',
 '756 v Australia, 02/03/2017']

In [46]:
# as I extracted all the data
# Before saving the data into a data frame length check the lenth all the data must be of equal lenghts before saving the data.
print(len(Player_name),len(Team),len(Rating),len(Career_best_rating))

100 100 100 100

In [47]:
# importing pandas and saving Top 10 players Dataframre
import pandas as pd
Top_10_batsman_women=pd.DataFrame({})
Top_10_batsman_women['Player_name']=Player_name[:10]
Top_10_batsman_women['Team']=Team[:10]
Top_10_batsman_women['Rating']=Rating[:10]
Top_10_batsman_women['Career_best_rating']=Career_best_rating[:10]

In [48]:
# lets import numpy and make our index to start counting from 1 for the better visualisation of data.
import numpy as np
Top_10_batsman_women.index = np.arange(1, len(Top_10_batsman_women)+1)

In [49]:
Top_10_batsman_women

          Player_name Team Rating             Career_best_rating
1         Meg Lanning  AUS    749  834 v New Zealand, 24/02/2016
2     Stafanie Taylor   WI    746        765 v India, 02/03/2012
3        Alyssa Healy  AUS    741  741 v New Zealand, 07/10/2020
4     Smriti Mandhana  IND    732      797 v England, 28/02/2019
5   Amy Satterthwaite   NZ    723    756 v Australia, 02/03/2017
6      Tammy Beaumont  ENG    716    738 v Australia, 04/07/2019
7        Ellyse Perry  AUS    691  766 v West Indies, 11/09/2019
8         Lizelle Lee   SA    690      752 v England, 12/06/2018
9     Laura Wolvaardt   SA    689  712 v New Zealand, 25/01/2020
10        Mithali Raj  IND    687    839 v Australia, 24/12/2004

In [50]:
# we got the data lets extract the data in csv file
Top_10_batsman_women.to_csv('Top_10_batsman_women_icc_ranking.csv')

# Top 10 ODI bowlers women's cricket

In [51]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'

In [52]:
driver.get(url)

In [53]:
#calling empty list to store the different data
Player_name=[]
Team=[]
Rating=[]
Career_best_rating=[]

In [54]:
# lets extract rank 1 player name in the list
name_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--name-large']")
name_tags

In [55]:
#saving player name to the list
for i in name_tags:
    
    name=i.text
    Player_name.append(name)
Player_name

['Ellyse Perry']

In [56]:
# lets extract other player name in the list
name_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell rankings-table__name name']")
name_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="faf3220d-144b-411a-bf60-dc49f64ca423")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="06ac6426-6d4a-4a3f-828e-28c35256d940")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="eb251184-3fbe-4f98-bb70-fdc79c011d22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="40189f78-562a-4fb6-a04b-598f1cf9a3ab")>]

In [57]:
#saving player name to the list
for i in name_tags:
    
    name=i.text
    Player_name.append(name)
Player_name[:5]

['Ellyse Perry',
 'Stafanie Taylor',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Dane van Niekerk']

In [58]:
# lets extract team name to the list
team_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--nationality']")
team_tags

In [59]:
#saving rank 1 player team name to the list
for i in team_tags:
    
    team=i.text
    Team.append(team)
Team

['AUS']

In [60]:
# lets extract other team name to the list
team_tags=driver.find_elements_by_xpath("//span[@class='table-body__logo-text']")
team_tags[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="346d4d2f-ca42-4fb0-a0d7-89c4d0645b0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="23f1e08e-69a8-4e92-8671-9bf861929b14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="eb373e82-ad91-4a64-a7dc-7569d3a7084f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="cf95482a-f79a-473d-9ed5-68cba0254219")>]

In [61]:
#saving other team name to the list
for i in team_tags:
    
    team=i.text
    Team.append(team)
Team[:5]

['AUS', 'WI', 'SA', 'IND', 'SA']

In [62]:
# lets extract Rating of the team to the list
rating_tags=driver.find_elements_by_xpath("//div[@class='rankings-block__banner--rating']")
rating_tags

In [63]:
#saving ratings of rank 1 player name to the list
for i in rating_tags:
    
    rating=i.text
    Rating.append(rating)
Rating

['460']

In [64]:
# lets extract Rating of the player to the list
rating_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell rating']")
rating_tags[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="bc501c5a-ec3d-4e94-bd86-851a53d2a752")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="ac1685d2-40e2-425b-836d-552332f833e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="e6250f9b-e182-46f1-bc79-071f278bc5d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="3b8a812c-a355-4cc3-8f64-0d41ac3006bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="2932d1b1-f47f-48ae-afbe-0e0b8f9c1a47")>]

In [65]:
#saving ratings of rank 1 player name to the list
for i in rating_tags:
    
    rating=i.text
    Rating.append(rating)
Rating[:5]

['460', '410', '389', '359', '335']

In [66]:
# lets extract carrer best rating of rank 1 player to the list
career_tags=driver.find_elements_by_xpath("//span[@class='rankings-block__career-best-text']")
career_tags

In [67]:
#saving carrer best rating of the player to the list.
for i in career_tags:
    
    career=i.text
    Career_best_rating.append(career)
Career_best_rating

['548 v West Indies, 11/09/2019']

In [68]:
# lets extract carrer best rating of other player to the list
career_tags=driver.find_elements_by_xpath("//td[@class='table-body__cell u-text-right u-hide-phablet']")
career_tags[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="7d918d7b-80ac-4e05-a397-2d2ded1dbd58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="97cbb417-a956-46dc-b037-cfdb112d70e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="096b79cc-3f32-400b-b526-14678ef18368")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="fbded052-8e6d-4a38-8190-86ed9d40db28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b049bbccd80b42dff4593e9eb3fbbb5", element="a8ed65ba-2d19-4bcd-9989-000c0ce5a6f4")>]

In [69]:
#saving carrer best rating of the player to the list.
for i in career_tags:
    
    career=i.text
    Career_best_rating.append(career)
Career_best_rating[:5]

['548 v West Indies, 11/09/2019',
 '559 v New Zealand, 10/10/2013',
 '389 v New Zealand, 30/01/2020',
 '397 v South Africa, 09/10/2019',
 '421 v Sri Lanka, 11/02/2019']

In [70]:
# as I extracted all the data
# Before saving the data into a data frame length check the lenth all the data must be of equal lenghts before saving the data.
print(len(Player_name),len(Team),len(Rating),len(Career_best_rating))

20 20 20 20

In [71]:
# importing pandas and saving Top 10 players Dataframre
import pandas as pd
Top_10_bowler_women=pd.DataFrame({})
Top_10_bowler_women['Player_name']=Player_name[:10]
Top_10_bowler_women['Team']=Team[:10]
Top_10_bowler_women['Rating']=Rating[:10]
Top_10_bowler_women['Career_best_rating']=Career_best_rating[:10]

In [72]:
# lets import numpy and make our index to start counting from 1 for the better visualisation of data.
import numpy as np
Top_10_bowler_women.index = np.arange(1, len(Top_10_bowler_women)+1)

In [73]:
Top_10_bowler_women

         Player_name Team Rating              Career_best_rating
1       Ellyse Perry  AUS    460   548 v West Indies, 11/09/2019
2    Stafanie Taylor   WI    410   559 v New Zealand, 10/10/2013
3     Marizanne Kapp   SA    389   389 v New Zealand, 30/01/2020
4      Deepti Sharma  IND    359  397 v South Africa, 09/10/2019
5   Dane van Niekerk   SA    335     421 v Sri Lanka, 11/02/2019
6      Jess Jonassen  AUS    301   308 v West Indies, 11/09/2019
7      Sophie Devine   NZ    289     305 v Australia, 05/10/2020
8     Natalie Sciver  ENG    273     307 v Sri Lanka, 21/03/2019
9      Shikha Pandey  IND    250  262 v South Africa, 14/10/2019
10   Katherine Brunt  ENG    232     270 v Sri Lanka, 16/03/2019

In [74]:
# we got the data lets extract the data in csv file
Top_10_bowler_women.to_csv('Top_10_bowler_women_icc_ranking.csv')